@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.projects {
  color: $color-primary-light;
  background-color: $color-bg-dark;
  clip-path: polygon(0 2.2%, 100% 0, 100% 97.8%, 0 100%);
  padding-left: $gap-100;
  padding-right: $gap-100;
  padding-top: $gap-100;

  @include mobile {
    clip-path: polygon(0 4%, 100% 0, 100% 96%, 0 100%);
    padding-left: $gap-150;
    padding-right: $gap-150;
    padding-top: $gap-150;
  }

  @include tablet {
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
  }

  @include desktop {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }

  &__title {
    letter-spacing: 2px;
    text-transform: uppercase;

    @include mobile {
      margin-top: $gap-200;
    }
  }
}
