@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  background-color: $color-bg-medium;
  border: 1px solid $color-accent-dark;
  border-radius: 4px;


  @include mobile {
    &:last-of-type {
    //  margin-bottom: 1.5rem;
    }
  }

  @include tablet {
    max-width: 700px;

    // &:last-of-type {
    //   margin-bottom: 2.5rem;
    //  }

    &:not(:last-of-type):before {
      width: 150px;
      left: calc(50% - 75px);
    }
  }
  
  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    padding-bottom: 4rem;

    // &:last-of-type {
    //   margin-bottom: 3.5rem;
    //  }

    // &:nth-of-type(odd) .project__image-container {
    //   order: -1;
    // }
  }

  &__copy {
    text-align: left;
    margin-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    @include mobile {
      margin-top: 3rem;
      max-width: 500px;
    }

    @include desktop {
      margin-left: 2rem;
    }
  }

  &__header {
    letter-spacing: 1px;
  }

  &__body {
    line-height: 1.5;
  }

  &__link,
  &__link:visited {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary-light;
    border: 2px solid $color-primary-light;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    padding: .7em 1.3em;
    transition: all .2s;

    @include mobile {
      font-size: .9rem;
    }
  
    &:hover {
      color: $color-primary-dark;
      background-color: $color-accent-light;
      border: 2px solid $color-accent-light;
    }
  }

  &__link:first-of-type {
    margin-right: .5rem;

    @include mobile {
      margin-right: 1rem;
    }

    @include tablet {
      margin-right: 1.5rem;
    }
  }

  &__image-container {
    order: -1;

    @include mobile {
      transform: translateX(30px);
    }
    
    @include desktop {
      order: 1;
    }
  }

  &__image {
    border-radius: 5px;
    border: 2px solid $color-primary-light;
    width: 270px;
    
    @include tablet {
      width: 320px;
    }

    &--small {
      border-radius: 5px;
      border: 2px solid $color-primary-light;
      width: 110px;
      display: none;
      
      @include mobile {
        display: inline-block;
        transform: translateX(-60px) translateY(30px);
      }

      @include tablet {
        width: 120px;
      }
    }
  }
}
