@use "../../styles/partials/colors" as *;

.project {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;

  &__copy {
    max-width: 500px;
    text-align: left;
  }

  &__header {
    font-size: 1.75rem;
  }

  &__body {
    font-size: 1.25rem;
    margin-block: 1rem;
  }

  &__image-container {
    background-color: $color-light;
    width: 360px;
    height: 240px;
    border-radius: 5px;
  }
}
