$color-primary-light: rgb(255, 251, 239);
$color-primary-dark: rgb(65, 65, 65);
$color-bg-dark: rgb(111, 111, 111);
$color-accent-light: rgb(239, 235, 222);
$color-accent-dark: rgb(140, 140, 140);
$color-accent: rgb(237, 28, 28);
