$color-primary-light: rgb(255, 251, 239);
$color-primary-dark: rgb(65, 65, 65);
$color-bg-medium: rgb(86, 86, 86);
$color-bg-dark: rgb(80, 80, 80);
$color-accent-light: rgb(239, 235, 222);
$color-accent-dark: rgb(140, 140, 140);
