@use "./typography";

$font-stack: "Maven Pro", sans-serif;

$mobile-breakpoint: 28rem;
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 90rem;

$gap-30: .3em;
$gap-50: .5em;
$gap-75: .75em;
$gap-100: 1em;
$gap-150: 1.5em;
$gap-200: 2em;
$gap-300: 3em;
$gap-400: 4em;
