@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  display: flex;
  justify-content: center;
  padding-top: $gap-100;
  padding-inline: $gap-100;

  &__copy {
    width: 800px;
  }

  &__header {
    font-size: 1.2rem;
    line-height: 1.4;
    white-space: nowrap;

    &--span {
      opacity: .9;
    }

    &--big {
      font-size: 1.65rem;
      padding-bottom: 7px;
      text-decoration: underline;
      text-underline-offset: 8px;

      @include tablet {
        font-size: 2.8rem;
        text-underline-offset: 8px;
      }
    }
  }

  &__body {
    line-height: 1.55;
    margin-top: $gap-100;

    @include mobile {
     }

    @include tablet {
     font-size: 1.5rem;
    }

    &--span {
      text-decoration: underline;
      text-underline-offset: 5.5px;
    }
  }

}
