.hero {
  display: flex;
  justify-content: center;

  &__copy {
    margin-block: 2rem;
    width: 800px;
  }

  &__header {
    line-height: 1.4;

    &--span {
      opacity: .9;
    }

    &--big {
      font-size: 2.8rem;
      padding-bottom: 7px;
      text-decoration: underline;
      text-underline-offset: 8px;
    }
  }

  &__body {
    font-size: 1.5rem;
    line-height: 1.55;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &--span {
      text-decoration: underline;
      text-underline-offset: 5.5px;
    }
  }

}

.avatar {
  margin-top: 3rem;
}
