@use "./partials/colors" as *;
@use "./partials/variables" as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  text-align: center;
  color: $color-dark;
  background-color: $color-light;
}

p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 9px;
}
