@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  color: $color-primary-dark;
  background-color: $color-primary-light;
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  text-align: center;
}

main {
  margin-top: 3rem;
  padding-top: 3rem;
}

h1 {
  font-size: 1.3rem;
  font-weight: 900;

  @include tablet {
    font-size: 1.3rem;
  }
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;

  @include tablet {
    font-size: 1.4rem;
  }

  @include desktop-large {
    font-size: 1.7rem;
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @include desktop-large {
    font-size: 1.6rem;
  }
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;

  @include mobile {
    font-size: 1.5rem;
  }

  @include desktop-large {
    font-size: 1.7rem;
  }
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;

  @include mobile {
    font-size: 1.1rem;
  }

  @include desktop-large {
    font-size: 1.3rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

li {
  font-size: 0.8rem;
  font-weight: 800;
  white-space: nowrap;

  @include mobile {
    font-size: 0.9rem;
  }

  @include tablet {
    font-size: 0.9rem;
  }
}

button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 9px;
}
