@use "./partials/colors" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  color: $color-primary-dark;
  background-color: $color-primary-light;
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  text-align: center;
}

main {
  margin-top: $gap-300;
  padding-top: $gap-200;

  @include tablet {
  }
}

h1 {
  font-size: 1.3rem;
  font-weight: 900;

  @include tablet {
    font-size: 1.3rem;
  }
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;

  @include tablet {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-block: $gap-150;

  @include tablet {
    // font-size: 1.6rem;
  }
}

h4 {
  font-size: 1.4rem;
  margin-bottom: $gap-50;

  @include mobile {
    font-size: 1.5rem;
  }

  @include tablet {
    // font-size: 2rem;
  }
}

p {
  font-size: 1rem;
  margin-bottom: $gap-100;

  @include mobile {
    font-size: 1.1rem;
  }

  @include tablet {
    // font-size: 2rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  white-space: nowrap;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

li {
  font-size: .8rem;
  font-weight: 800;
  white-space: nowrap;

  @include mobile {
    font-size: .9rem;
  }

  @include tablet {
    font-size: .9rem;
  }
}

button {
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 9px;
}
