@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.headernav {
  width: 100%;
  background: $color-primary-light;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: $gap-100;
  z-index: 1000;

  &__logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: $gap-50;
    margin-bottom: $gap-50;
    opacity: .9;
  }

  &__nav {
    display: flex;
    gap: 1.2em;

    @include tablet {
      gap: 3.5rem;
    }
  }

  &__nav-item {

    text-transform: uppercase;
    transition: all .2s;

    @include tablet {
      font-size: 1.125rem;
    }

    &:hover,
    &:active {
      color: $color-accent;
      opacity: .7;
    }
  }
}
