@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.headernav {

  &__ref {
    position: absolute;
    top: 0;
    visibility: hidden;
  }

  &__container {
    width: 100%;
    background-color: $color-primary-light;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    z-index: 1000;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 0;
    }
  
    @include desktop-large {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &__logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: .9;
    margin-top: .5rem;
    margin-bottom: .5rem;

    @include tablet {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__nav {
    display: flex;
  }

  &__nav-item {
    text-transform: uppercase;
    transition: all .2s;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    &:hover,
    &:active {
      opacity: .7;
      transform: translateY(-2px);
    }

    @include mobile {
      &:not(:last-of-type) {
        margin-right: 30px;
      }
    }
  }
}
