@use "../../styles/partials/colors" as *;

.headernav {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient($color-primary-light 95%, transparent) ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  z-index: 1000;

  &__nav {
    display: flex;
    gap: 3.5rem;
    margin-top: 1.5rem;
  }

  &__nav-item {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.125rem;
    transition: all .2s;

    &:hover {
      color: $color-accent;
      opacity: .7;
    }
  }
}

.logo-name {
  text-transform: uppercase;
  letter-spacing: 4px;
  opacity: .9;
}
