@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.techstack {
  background-color: $color-primary-light;
  display: flex;
  justify-content: center;

  &__ref {
    transform: translateY(-54px);
    visibility: hidden;
  }

  &__container {
    max-width: 400px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 1rem;

    @include mobile {
      max-width: 600px;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @include tablet {
      max-width: 800px;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-left: auto;
      margin-right: auto;
    }
  
    @include desktop {
      max-width: 1000px;
    }

    @include desktop-large {
      max-width: 1200px;
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include desktop {
    max-width: 1400px;
  }
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-accent-light;
  border-radius: 4px;
  width: 120px;
  height: 120px;
  margin: .3rem;

  @include mobile {
    width: 140px;
    height: 140px;
    margin: .5rem;
  }

  @include desktop-large {
    width: 160px;
    height: 160px;
    margin: .6rem;
  }

  &__image {
    width: 50px;

    @include mobile {
      width: 62px;
    }

    @include desktop-large {
      width: 74px;
    }

    &--react {
      transform: translateY(-8px);

      @include mobile {
        transform: translateY(-8px);
      }

      @include desktop-large {
        width: 78px;
        transform: translateY(-12px);
      }
    }

    &--redux {
      transform: translateY(-6px);

      @include mobile {
        transform: translateY(-9px);
      }

      @include desktop-large {
        transform: translateY(-12px);
      }
    }

    &--typescript {
      transform: translateY(-2px);

      @include mobile {
        transform: translateY(-8px);
      }
    }

    &--javascript {
      transform: translateY(-4px);

      @include mobile {
        transform: translateY(-8px);
      }
    }

    &--html {
      transform: translateY(-2px);

      @include mobile {
        transform: translateY(-7px);
      }
    }

    &--css {
      transform: translateY(-2px);

      @include mobile {
        transform: translateY(-7px);
      }
    }

    &--npm {
      transform: translateY(-6px);

      @include mobile {
        transform: translateY(-9px);
      }

      @include desktop-large {
        transform: translateY(-16px);
      }
    }

    &--sass {
      width: 55px;
      transform: translateY(-10px);

      @include mobile {
        width: 65px;
      }

      @include desktop-large {
        width: 76px;
        transform: translateY(-17px);
      }
    }

    &--node {
      width: 75px;

      @include mobile {
        width: 80px;
        transform: translateY(-8px);
      }

      @include desktop-large {
        width: 92px;
        transform: translateY(-14px);
      }
    }

    &--express {
      width: 100px;
      transform: translateY(2px);

      @include mobile {
        transform: translateY(-8px);
      }

      @include desktop-large {
        width: 108px;
        transform: translateY(-14px);
      }
    }

    &--axios {
      width: 100px;
      transform: translateY(15px);

      @include mobile {
        width: 108px;
        transform: translateY(10px);
      }

      @include desktop-large {
        width: 118px;
        transform: translateY(4px);
      }
    }

    &--reactrouter {
      transform: translateY(-16px);

      @include mobile {
        width: 70px;
        transform: translateY(-16px);
      }

      @include desktop-large {
        width: 80px;
        transform: translateY(-24px);
      }
    }
  }

  &__image-caption {
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: .5rem;

    @include mobile {
      font-size: .875rem;
      margin-bottom: .6rem;
    }
  }
}
