@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.techstack {
  background-color: $color-primary-light;
  position: relative;
  transform: translateY(-10px);
  z-index: -100;

  &__container {
    padding-left: $gap-50;
    padding-right: $gap-50;
    padding-bottom: $gap-100;

    @include mobile {
      padding-left: $gap-100;
      padding-right: $gap-100;
    }

    @include tablet {
      max-width: 62.5rem;
      padding-left: $gap-200;
      padding-right: $gap-200;
      margin-left: auto;
      margin-right: auto;
    }
  
    @include desktop {
      max-width: 65rem;
      transform: translateY(-10px);
    }

    @include desktop-large {
      max-width: 80rem;
      transform: translateY(-15px);
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
  }
}

.techs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;

  @include desktop {
    max-width: 1400px;
  }
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: $color-accent-light;
  border-radius: 4px;
  width: 120px;
  height: 120px;

  @include mobile {
    width: 140px;
    height: 140px;
  }

  @include desktop-large {
    width: 160px;
    height: 160px;
  }

  &__image {
    width: 50px;

    @include mobile {
      width: 62px;
    }

    @include desktop-large {
      width: 74px;
    }

    &--react {
      transform: translateY(-8px);

      @include mobile {
        transform: translateY(-8px);
      }

      @include desktop-large {
        width: 78px;
        transform: translateY(-12px);
      }
    }

    &--redux {
      transform: translateY(-6px);

      @include mobile {
        transform: translateY(-9px);
      }

      @include desktop-large {
        transform: translateY(-12px);
      }
    }

    &--javascript {
      transform: translateY(-4px);

      @include mobile {
        transform: translateY(-8px);
      }
    }

    &--typescript {
      transform: translateY(-2px);

      @include mobile {
        transform: translateY(-8px);
      }
    }

    &--html {
      transform: translateY(-2px);

      @include mobile {
        transform: translateY(-7px);
      }
    }

    &--css {
      transform: translateY(-2px);

      @include mobile {
        transform: translateY(-7px);
      }
    }

    &--sass {
      width: 55px;
      transform: translateY(-10px);

      @include mobile {
        width: 65px;
      }

      @include desktop-large {
        width: 76px;
        transform: translateY(-17px);
      }
    }

    &--npm {
      transform: translateY(-6px);

      @include mobile {
        transform: translateY(-9px);
      }

      @include desktop-large {
        transform: translateY(-16px);
      }
    }

    &--node {
      width: 75px;

      @include mobile {
        width: 80px;
        transform: translateY(-8px);
      }

      @include desktop-large {
        width: 92px;
        transform: translateY(-14px);
      }
    }

    &--express {
      width: 100px;
      transform: translateY(2px);

      @include mobile {
        transform: translateY(-8px);
      }

      @include desktop-large {
        width: 108px;
        transform: translateY(-14px);
      }
    }

    &--axios {
      width: 100px;
      transform: translateY(15px);

      @include mobile {
        width: 108px;
        transform: translateY(10px);
      }

      @include desktop-large {
        width: 118px;
        transform: translateY(4px);
      }
    }

    &--reactrouter {
      transform: translateY(-16px);

      @include mobile {
        width: 70px;
        transform: translateY(-16px);
      }

      @include desktop-large {
        width: 80px;
        transform: translateY(-24px);
      }
    }
  }

  &__image-caption {
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1rem;
    margin-bottom: .5rem;

    @include mobile {
      font-size: .875rem;
      margin-bottom: .6rem;
    }
  }
}
