@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.contact {
  color: $color-primary-light;
  background-color: $color-bg-dark;
  padding-top: $gap-50;

  &__title {
    letter-spacing: 2px;
    text-transform: uppercase;

  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: row;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    @include desktop-large {
      max-width: 800px;
    }
  }
  
  &__image {
    background-color: $color-accent-light;
    border: 4px solid $color-accent-dark;
    width: 170px;
    border-radius: 50%;
    margin-bottom: $gap-100;

    @include mobile {
      width: 180px;
    }

    @include desktop-large {
      width: 190px;
    }
  }

  &__copy-container {
    text-align: left;
    font-style: normal;
    display: flex;
    flex-direction: column;

    @include tablet {
      transform: translateX(10px);
      flex-direction: row;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  &__copy {

    &:first-of-type {
      margin-bottom: $gap-150;
    }

    @include tablet {
      &:first-of-type {
        margin-right: $gap-300;
        margin-bottom: 0;
      }
    }

    @include desktop-large {
      &:first-of-type {
        margin-right: $gap-400;
      }
    }
  }

  &__header {
    letter-spacing: 1px;

    @include tablet {
    }
  }

  &__body {
    transition: all .2s;

    @include mobile {
      font-size: 1.2rem;
    }

    &:hover {
      opacity: .6;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;
    transform: translateX(-10px)translateY(-8px);

    @include tablet {
      width: 80px;
      height: 80px;
    }
  }
}
