@use "../../styles/partials/colors" as *;

.contact {
  color: $color-light;
  background-color: $color-accent;
  height: 500px;

  &__title {
    font-size: 1.875rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 4rem;
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 18rem;
    width: 900px;
    margin-inline: auto;
  }
  
  &__image {
    background-color: $color-accent-light;
    border: 4px solid $color-accent-dark;
    width: 280px;
    border-radius: 50%;
  }

  &__copy {
    text-align: left;
    font-style: normal;
  }

  &__header {
    font-size: 1.75rem;
    margin-bottom: .5rem;
    letter-spacing: 1px;
  }

  &__body {
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }

  &__icon {
    width: 130px;
    transform: translateX(-34px)translateY(-5px);
  }
}
