@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  color: $color-primary-light;
  background-color: $color-bg-dark;
  padding-top: $gap-100;
  padding-bottom: $gap-100;
  
  &__author {
    font-size: 1rem;
    font-weight: 500;
  }
}
