@use "../../styles/partials/colors" as *;

.footer {
  color: $color-light;
  background-color: $color-accent;
  padding-block: 2rem;

  &__copyright {
    font-weight: 600;
  }
    
  &__author {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
