@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  color: $color-primary-light;
  background-color: $color-bg-dark;
  padding-block: 2rem;

  &__copyright {
    font-weight: 600;
  }
    
  &__author {
    font-size: 1.2rem;
    font-weight: 500;

    @include tablet {
    font-size: 1.5rem;
    }
  }
}
